html, body
{
	background: #000000;
	height: 100%;
	margin: 0;
	overflow: visible;
	padding: 0;
	width: 100%;
}

#container
{
	background: transparent;
	position: absolute;
}

#container canvas
{
	position: absolute;
}

/* NOTE(shawn): to optimize for pixel art */
#container canvas
{
	image-rendering: optimizeSpeed;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	position: absolute;
	-ms-interpolation-mode: nearest-neighbor;
}